<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{ listFilter }}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" *ngIf="users && users.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()">
                {{ showImage ? "Hide" : "Show" }}
              </button>
            </th>
            <th>User</th>
            <th>Code</th>
            <th>DOJ</th>
            <th>Mobile</th>
            <th>Salary</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>
              <img
                *ngIf="showImage"
                [src]="user.imageUrl"
                [title]="user.userName | uppercase"
                [style.width.px]="imgWidth"
                [style.margin.px]="imgMargin"
              />
            </td>
            <td>{{ user.userName }}</td>
            <td>{{ user.userCode | lowercase | convertToSpace: "-" }}</td>
            <td>{{ user.DOJ | date | uppercase }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.salary | currency: "USD":"code":"1.0-2" }}</td>
            <td>
              <app-star
                [rating]="user.rating"
                (notify)="onNotify($event)"
              ></app-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
